.stats {
    height: 220px;
}
.stats dt {
    float: left;
    clear: left;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 1.1em;
}
.stats dd {
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    height: 40px;
}

.users-wrap {
    height: 220px;
    overflow-y: auto;
    list-style-type: none;
}
.users {
    margin-left: 0;
}
.users li {
    list-style-type: none;
}
.users .status {
    background-color: #13CF13;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.users .status.logged-out {
    background-color: #ccc;
}

.log-container {
    background-color: #222;
}
.log-header {
    background-color: #444;
    color: #f1f1f1;
    overflow: auto;
    padding : 0 10px;
}
.log-header ul.tab {
    float: left;
    margin: 4px 0 0 0;
}
.log-header ul.tab li {
    float: left;
    padding: 9px 20px;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    color: #555;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: .3s;
}
.log-header ul.tab li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.log-header ul.tab li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.log-header ul.tab li.active {
    background-color: #ac0032;
    color: #fff;
}
.log-header ul.tab li:hover {
    color: #ac0032;
    filter: brightness(107%);
}
.log-header ul.tab li.active:hover {
    color: #fff;
}
.log-header ul.tab li {
    padding: 0 20px;
    line-height: 26px;
}
.log-header ul.tab li.wait {
    cursor: wait;
}
.log-header ul.tab li:first-child {
    border-bottom-left-radius: 0;
}
.log-header ul.tab li:last-child {
    border-bottom-right-radius: 0;
}
.log-header .bite-tail {
    float: right;
    line-height: 29px;
}
.log-header .bite-tail .tail-status {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
}
.log-header .bite-tail .tail-status::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 10px;
    width: 10px;
    background: #f1f1f1;
    border-radius: 50%;
}
.log-header .bite-tail .tail-status.active {
    background-color: #39aa56;
}
.log-tail {
    clear: both;
    margin: 0;
    padding: 10px;
    overflow: auto;
    height: 400px;
    color: #f1f1f1;
    background: transparent;
    border: none;
}
.log-tail p {
    font-size: 12px;
    line-height: 19px;
    white-space: nowrap;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}
.log-tail p.event {
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgba(186, 254, 230, 0.53);
    padding: 3px 0;
    margin: 4px 0;
    color: #fff;
    background-color: #333;
}
.log-tail p.event.error {
    background-color: palevioletred;
    border: 1px solid palevioletred;
    color: yellow;
}

@keyframes missileAnimation {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 210px);
    }
}
.missile-route {
    position: relative;
    height: 120px;
    margin-bottom: 4px;
    background-color: #0d1939;
    overflow: hidden;
}
.missile-route .stack {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 120px;
    background-color: red;
    opacity: .15;
}
.missile {
    position: absolute;
    top: 40%;
    right: 10px;
    width: 200px;
    height: 12px;
    border-radius: 60%;
    background: linear-gradient(to right, rgba(9, 17, 39, 0) 0%, rgba(255, 26, 39, 0.4) 100%);
    animation-name: missileAnimation;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: 100;
}
.mis-1 {
    animation-duration: .8s;
}
.mis-2 {
    height: 16px;
    background: linear-gradient(to right, rgba(204, 204, 204, 0) 0%, rgba(255, 88, 9, 0.52) 100%);
    animation-duration: 1.05s;
}
.mis-3 {
    height: 20px;
    background: linear-gradient(to right, rgba(9, 17, 39, 0) 0%, rgba(255, 29, 112, 0.4) 100%);
    animation-duration: 1.3s;
}