root = true

[*.{bat,html,java,js,jsp,md,properties,sh,sql,svg,txt,xml,xsd,apon}]
charset = utf-8

[*.java]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
ij_continuation_indent_size = 8
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = java.awt.*, javax.swing.*

[*.{xml,apon,sql}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.sh]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true