<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %relative [%thread] %msg - %logger{30}.%M\(%line\)%n</pattern>
        </encoder>
    </appender>
    <Logger name="com.aspectran" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </Logger>
    <Logger name="org.quartz" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </Logger>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>