body {
    background-color: #eee;
    color: #555;
    margin: 10px;
    padding: 5px;
    font-family: sans-serif;
}
h1.title {
    font-weight: bold;
}
table.listing {
    border: 0;
}
thead a {
    color: #555;
}
thead th {
    border-bottom: #777 1px solid;
}
.name, .lastmodified {
    text-align: left;
    padding-right: 15px;
}
.size {
    text-align: right;
}
a {
    color: #555;
    font-style: normal;
    text-decoration: none;
    font-size: inherit;
}
td {
    font-style: italic;
    padding: 2px;
}
