<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level) %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %msg - %logger{30}.%M\(%line\)%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.aspectran" level="debug"/>
    <logger name="com.aspectran.jetty" level="debug"/>
    <logger name="org.eclipse.jetty" level="info"/>
    <logger name="org.eclipse.jetty.ee10.webapp.WebAppClassLoader" level="info"/>

    <!-- Jetty Access Logging -->
    <appender name="FILE-JETTY-ACCESSLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${aspectran.basePath:-app}/logs/jetty-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${aspectran.basePath:-app}/logs/archived/jetty-access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty.server.RequestLog" level="info" additivity="false">
        <appender-ref ref="FILE-JETTY-ACCESSLOG"/>
    </logger>

</configuration>
