<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE aspectran PUBLIC "-//ASPECTRAN//DTD Aspectran 7.0//EN"
        "http://aspectran.github.io/dtd/aspectran-7.dtd">
<aspectran>

    <description>
        An Aspectran configuration for the Web Environment.
        Note that names of translets that match the request URI always start with a forward slash (/).
    </description>

    <bean id="jspViewDispatcher" class="com.aspectran.web.support.view.JspViewDispatcher">
        <description>
            Register a JSP View Dispatcher.
        </description>
        <properties>
            <item name="prefix">/WEB-INF/jsp/</item>
            <item name="suffix">.jsp</item>
        </properties>
    </bean>

    <aspect id="webTransletSettings">
        <description>
            This aspect is for injecting default settings into translets running in the web environment.
        </description>
        <joinpoint>
            pointcut: {
                +: /**
            }
        </joinpoint>
        <settings>
            <setting name="characterEncoding" value="utf-8"/>
            <setting name="viewDispatcher" value="jspViewDispatcher"/>
        </settings>
    </aspect>

    <append resource="web/home/main.xml"/>
    <append resource="web/examples/hello-world.xml"/>
    <append resource="web/examples/gs-rest-service.xml" profile="!daemon"/>
    <append resource="web/examples/file-upload.xml" profile="!daemon"/>
    <append resource="web/terminal/translet-interpreter.xml" profile="!daemon"/>
    <append resource="web/skylark/skylark.xml" profile="!daemon"/>
    <append resource="web/chat/chat.xml" profile="!daemon"/>
    <append resource="web/apm/apm.xml" profile="!daemon"/>

</aspectran>