<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE aspectran PUBLIC "-//ASPECTRAN//DTD Aspectran 8.0//EN"
        "https://aspectran.com/dtd/aspectran-8.dtd">
<aspectran>

    <!-- Undertow 8080 -->
    <append file="/config/server/undertow/tow-server.xml"/>
    <append file="/config/server/undertow/tow-context-root.xml"/>

    <!-- Jetty 8081 -->
    <append file="/config/server/jetty/jetty-server.xml"/>
    <append file="/config/server/jetty/jetty-context-root.xml"/>

</aspectran>
