<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level) %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %msg - %logger{30}.%M\(%line\)%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.aspectran" level="debug"/>

    <!-- Undertow Access Logging -->
    <appender name="FILE-UNDERTOW-ACCESSLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${aspectran.basePath:-target/app}/logs/undertow-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${aspectran.basePath:-app}/logs/archived/undertow-access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.undertow.accesslog" level="info" additivity="false">
        <appender-ref ref="FILE-UNDERTOW-ACCESSLOG"/>
    </logger>

</configuration>
